<p class="p-5"></p>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row" style="width:40%">
    <form [formGroup]="passwordForm" (ngSubmit)="onResetSubmit()">
      <!-- Email input -->
      <div class="mb-4">
        <label class="form-label" for="form2Example2">{{'password'|translate}}</label>

        <input type="password" id="form2Example2" formControlName="password" class="form-control  bg-white border"/>
        <!-- Validation message for password input -->
        <div
          *ngIf="passwordForm.get('password').invalid && (passwordForm.get('password').dirty || passwordForm.get('password').touched)"
          class="text-danger">
          <div *ngIf="passwordForm.get('password').errors['required']">{{'password_toast'|translate}}</div>
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label" for="form2Example3">{{'repeat_password'|translate}}</label>

        <input type="password" id="form2Example3" formControlName="repeatPassword"
               class="form-control  bg-white border"/>
        <!-- Validation message for password input -->
        <div *ngIf="arePasswordsDifferent()" class="text-danger">{{'password_difference'|translate}}</div>
        <div
          *ngIf="passwordForm.get('repeatPassword').invalid && (passwordForm.get('repeatPassword').dirty || passwordForm.get('repeatPassword').touched)"
          class="text-danger">
          <div *ngIf="passwordForm.get('repeatPassword').errors['required']">{{'password_toast'|translate}}</div>
        </div>
      </div>
      <div class="text-center">
        <!-- Submit button -->
        <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-primary rounded-pill"
                style="background-color: #005B47;">{{'password_reset'|translate}}
        </button>
      </div>
    </form>
  </div>
</div>
