<mat-tab-group [backgroundColor]="'primary'" [color]="'primary'" dynamicHeight>
  <mat-tab label="{{ 'do_reserve_table' | translate }}">
    <div class="container mt-4" *ngIf="tables">
      <h1 class="text-center mb-3">{{ 'choose_table' | translate }}</h1>
      <div class="flex-container">
        <div class="flex-item" *ngFor="let table of tables">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{ 'one_table' | translate }} {{ table.number }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/table.jpg" alt="{{ 'one_table' | translate }}">
            <mat-card-content>
              <mat-list role="list">
                <mat-list-item role="listitem">{{ 'number_of_seats' | translate }}: {{ table.seats }}</mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <button class="proceed-btn" (click)="openTableDialog(table)">{{ 'do_reserve_table' | translate }}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>


    <!--  Skeleton loading-->
    <div class="container mt-4" *ngIf="!tables">
      <h1 class="text-center mb-3">{{ 'choose_table' | translate }}</h1>
      <div class="flex-container">
        <div class="skeleton-card flex-item" *ngFor="let index of [0,1,2,3,4,5]">

            <ngx-skeleton-loader [theme]="
              {
                'height': '100%',
                'width': '100%',
                'margin-bottom': '0'

              }"></ngx-skeleton-loader>

        </div>
      </div>
    </div>

  </mat-tab>


  <mat-tab label="{{ 'my_reservations' | translate }}">
    <div class="container mt-4" *ngIf="userReservations.length > 0">
      <h1 class="text-center mb-3">{{ 'upcoming_reservations' | translate }}</h1>
      <div class="flex-container">
        <div class="flex-item" *ngFor="let reservation of userReservations">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{ reservation.reservationDateStart | date: "dd.MM.yyyy"}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/table.jpg" alt="{{ 'one_table' | translate }}">
            <mat-card-content>
              <mat-list role="list">
                <mat-list-item role="listitem">{{ 'hour' | translate }}: {{ reservation.reservationDateStart | date: "HH:mm" }}</mat-list-item>
                <mat-list-item role="listitem">{{ 'table_number' | translate }}: {{ reservation.table.number }}</mat-list-item>
                <mat-list-item role="listitem">{{ 'number_of_seats' | translate }}: {{ reservation.table.seats }}</mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <button class="cancel-btn btn-danger" (click)="openCancelationDialog(reservation)">{{ 'cancel' | translate }}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="container mt-4 text-center" *ngIf="userReservations.length === 0">
      <br>
      <h3>{{ 'no_reservations' | translate }}</h3>
      <br>
      <button class="btn btn-rounded" routerLink="/menu">{{ 'return_to_menu' | translate }}</button>
    </div>
  </mat-tab>
</mat-tab-group>
