<br>
<div class="container" *ngIf="isContentLoaded && orders.length > 0">
  <table class="table table-bordered bg-white" *ngFor="let order of orders">
    <thead>
    <tr>
      <th style="width:70px; font-size: 9px;" scope="col">ID: {{order.id}}</th>
      <th scope="col">Meal</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let meal of order.mealOrders">
      <th></th>
      <td>{{meal.meal.name}}</td>
      <td>{{meal.quantity}}</td>
      <td>{{meal.price}}</td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form" [formGroup]="orderDetailsForm" (ngSubmit)="updateOrder(order.id)">
        <table class="table table-active">
          <thead>
          <tr>
            <th scope="col">Order Status</th>
            <th scope="col">Estimated Delivery Date</th>
            <th scope="col">Address</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <select class="form-select" [value]="order.orderStatus"  formControlName="orderStatus">
                <option value="IN_PREPARATION">In preperation</option>
                <option value="IN_DELIVERY">In delivery</option>
                <option value="DELIVERED">Delivered</option>
              </select>
            </td>
            <td>
              <input type="time" class="form-control" [value]="order.delivery.deliveryDate" formControlName="deliveryDate" name="deliveryDate" required>
            </td>
            <td>{{order.delivery.address}}{{order.delivery.city}} {{order.delivery.deliveryOptions}} {{order.delivery.postalCode}} {{order.delivery.info}}</td>
            <td><button class="btn btn-primary" (click)="updateOrder(order.id)">Change</button></td>

          </tr>
          </tbody>
        </table>
        </form>
      </td>
    </tr>
    <tr class="text-center">
      <td></td>
      <td></td>
      <td></td>
      <td> <strong>Sum: {{calculateSum(order)}} $</strong> </td>

    </tr>
    </tbody>
  </table>
</div>
<div class="container text-center" *ngIf="orders.length === 0">
  <div class="alert-primary center-alert" style="width: 60%">There are no orders today.</div>
</div>
