<div class="container" style="margin-top: 10px">
  <div class="row justify-content-center">
    <div class="card bg-transparent shadow-none hover-overlay hover-zoom hover-shadow"
         *ngFor="let category of categories let i =index"
         style="margin-right:20px; max-width: 20%; padding: 0"
         (click)="scroll(category.name)">
      <img class="card-img-top rounded" src="{{category.imgPath}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">{{category.name}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div *ngFor="let category of categories" id="{{category}}">
    <div class="row" *ngFor="let meal of meals[category.name]">
        <div class="menu-item">
              <img class="menu-item-img" src="{{meal.imgPath}}" alt="pizza">
                <div class="menu-item-desc">
                  <h5 style="color: #8a8a8a;"><strong>{{category.name}}</strong></h5>
                  <h3>{{meal.name}}</h3>
                  <p>{{meal.description}}</p>
                  <h4><strong>{{meal.price}} $</strong></h4>
                <div>
                  <button type="button" class="btn btn-dark" (click)="addToCart(meal)">
                    <i class="bi bi-cart me-1"></i>
                    To Cart</button>
                </div>
              </div>
            </div>

    </div>

</div>
</div>
