<div class="container" style="margin-top: 10px">
    <div class="row g-3 justify-content-evenly" *ngFor="let item of cart">
      <div class="col-lg-6">
        <div class="card">
          <div class="row g-0" data-aos="fade-right">
            <div class="col-6 col-md-2 align-self-center">
              <img src="{{item.meal.imgPath}}" class="card-img img-fluid rounded-start" alt="pizza" style="width: 100%; height:auto">
            </div>
            <div class="col-6 col-md-7">
              <div class="card-body d-flex flex-column">
                <div class="h-100">
                  <h3 class="card-title">{{item.meal.name}}</h3>
                  <p class="card-text">{{item.meal.description}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 align-self-center">
              <h4 class="card-title mb-3"><strong>{{item.meal.price * item.quantity}} $</strong></h4>
            </div>
          </div>
        </div>
      </div>
      <p class="gap-0"></p>
    </div>
  <br>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 text-center" style="width: 20%">
      <h2><strong>Sum: {{calculateSum()}} $</strong></h2>
      <hr>
      <button class="btn btn-lg rounded-pill" [ngClass]="cart.length === 0 ? 'disabled': ''" style="background-color: #005B47; text-decoration: none; color: #FFFFFF" routerLink="/summary">Buy</button>
    </div>
  </div>
  </div>
