<div class="container" style="margin-top: 20px" *ngIf="isContentLoaded">
  <div class="text-content">
    <h2 class="title text-center">
      {{ 'order_details' | translate }}
    </h2>
    <form class="form" [formGroup]="buyForm" (ngSubmit)="onBuySubmit()">

      <mat-radio-button [style.visibility]="!(showHint && lastDelivery) ? 'hidden' : 'visible' "
                        (change)="onPopulateInput()" id="hint">
        {{ "fill_form_with_previous_values" | translate}}
      </mat-radio-button>

      <mat-form-field class="form-element" appearance="outline">
        <mat-label>{{ "address" | translate}}</mat-label>
        <input type="text" matInput formControlName="address" placeholder="{{'address_example' | translate}}">
        <mat-error *ngIf="buyForm.get('address')?.hasError('required')">
          {{ "address_required" | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element" appearance="outline">
        <mat-label>{{"city" | translate}}</mat-label>
        <input type="text" matInput formControlName="city" placeholder="{{'city_example' | translate}}">
        <mat-error *ngIf="buyForm.get('city')?.hasError('required')">
          {{"city_required" | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element" appearance="outline">
        <mat-label>{{"postal_code" | translate}}</mat-label>
        <input type="text" matInput maxlength="6" formControlName="pcode" placeholder="{{'postal_code_example' | translate}}">
        <mat-error *ngIf="buyForm.get('pcode')?.hasError('pattern') && !buyForm.get('pcode')?.hasError('required')">
          {{"postal_code_invalid" | translate}}
        </mat-error>
        <mat-error *ngIf="buyForm.get('pcode')?.hasError('required')">
          {{"postal_code_required" | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element" appearance="outline">
        <mat-label>{{"floor" | translate}}</mat-label>
        <input type="text" matInput formControlName="floor" placeholder="{{'floor_example' | translate}}"/>
        <mat-error *ngIf="buyForm.get('floor')?.hasError('pattern')">
          {{"floor_invalid" | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element" appearance="outline">
        <mat-label>{{'additional_info_for_provider' | translate}}</mat-label>
        <textarea formControlName="info" rows="5" matInput></textarea>
      </mat-form-field>

      <mat-radio-group
        formControlName="deliveryOption"
        class="radio-group">
        <mat-radio-button id="KNOCK" value="KNOCK">
          {{ 'knock_on_the_door' | translate }}        </mat-radio-button>
        <mat-radio-button id="LEAVE" value="LEAVE">
          {{ 'leave_at_the_door' | translate }}        </mat-radio-button>
        <mat-error *ngIf="buyForm.get('deliveryOption')?.hasError('required')">
          Please select a delivery option.
        </mat-error>

      </mat-radio-group>

      <button type="submit" class="proceed-btn" [disabled]="buyForm.invalid">{{ 'make_an_order' | translate }}</button>
    </form>
  </div>
</div>
