<div class="container" style="margin-top: 20px" *ngIf="isContentLoaded">
  <div class="text-content">
    <h2 class="title text-center">
      {{ 'order_details' | translate }}
    </h2>
    <form class="form" [formGroup]="buyForm" (ngSubmit)="onBuySubmit()">
      <div class="form-group mb-4" style="text-align: left" *ngIf="showHint">
        <input class="form-check-input bg-white border" type="radio" id="hint" (change)="onPopulateInput()">
        <label class="form-check-label" for="hint">{{ 'fill_form_with_previous_values' | translate }}</label>
      </div>
      <div class="form-group mb-4"
           [ngClass]="{'has-error': buyForm.get('address')?.invalid && buyForm.get('address')?.touched}">
        <label class="form-label " for="address">{{ 'address' | translate }}<span class="text-danger">*</span></label>
        <input type="text" id="address" formControlName="address" class="form-control bg-white border"/>
        <div *ngIf="buyForm.get('address')?.invalid && buyForm.get('address')?.touched" class="text-danger">
          {{ 'address_required' | translate }}
        </div>
      </div>
      <div class="form-group mb-4"
           [ngClass]="{'has-error': buyForm.get('city')?.invalid && buyForm.get('city')?.touched}">
        <label class="form-label" for="city">{{ 'city' | translate }}<span class="text-danger">*</span></label>
        <input type="text" id="city" formControlName="city" class="form-control bg-white border"/>
        <div *ngIf="buyForm.get('city')?.invalid && buyForm.get('city')?.touched" class="text-danger">
          {{ 'city_required' | translate }}
        </div>
      </div>
      <div class="form-group mb-4"
           [ngClass]="{'has-error': buyForm.get('pcode')?.invalid && buyForm.get('pcode')?.touched}">
        <label class="form-label" for="pcode">{{ 'postal_code' | translate }}<span class="text-danger">*</span></label>
        <input type="text" id="pcode" formControlName="pcode" class="form-control bg-white border"/>
        <div *ngIf="buyForm.get('pcode')?.invalid && buyForm.get('pcode')?.touched" class="text-danger">
          {{ 'postal_code_required' | translate }}
        </div>
      </div>
      <div class="form-group mb-4">
        <label class="form-label" for="floor">{{ 'floor' | translate }}</label>
        <input type="number" id="floor" formControlName="floor" class="form-control bg-white border"/>
        <div *ngIf="buyForm.get('floor')?.invalid && buyForm.get('floor')?.touched" class="text-danger">
          {{ 'address_required' | translate }}
        </div>
      </div>
      <div class="form-group mb-4">
        <label class="form-label" for="info">{{ 'additional_info_for_provider' | translate }}</label>
        <textarea id="info" formControlName="info" class="form-control bg-white border" style="height:100px"></textarea>
      </div>
      <div class="form-group mb-4" style="text-align: left">
        <input class="form-check-input bg-white border" name="deliveryOption" type="radio" id="KNOCK" value="KNOCK"
               formControlName="deliveryOption">
        <label class="form-check-label" for="KNOCK">{{ 'knock_on_the_door' | translate }}</label>
      </div>
      <div class="form-group mb-4" style="text-align: left">
        <input class="form-check-input bg-white border" name="deliveryOption" type="radio" id="LEAVE" value="LEAVE"
               formControlName="deliveryOption">
        <label class="form-check-label" for="LEAVE">{{ 'leave_at_the_door' | translate }}</label>
      </div>
      <button type="submit" class="proceed-btn" [disabled]="buyForm.invalid">{{ 'make_an_order' | translate }}</button>
    </form>
  </div>
</div>
