.form-field {
  width: 100%;
  margin-bottom: 3px;
  margin-top: 3px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.row-style {
  width: 90%;
  max-width: 600px;
}
