<h2 mat-dialog-title>{{data.mode}} Meal</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="mealForm" *ngIf="data.mode !== 'DELETE'">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" id="name" type="text" formControlName="name">
    <label class="form-label" for="description">Description</label>
    <input class="form-control" id="description" type="text" formControlName="description">
    <label class="form-label" for="price">Price</label>
    <input class="form-control" id="price" type="text" formControlName="price">
    <label class="form-label" for="fileInput">Image Path</label>
    <input class="form-control" type="file" id="fileInput" (change)="onFileUploaded($event)"/>
  </form>
  <div class="d-flex justify-content-center align-items-center" *ngIf="data.mode === 'DELETE'">
    <h5>Are you sure you want to delete a meal with name: {{data.meal?.name}}</h5>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.mode === 'EDIT'">
  <button class="btn btn-primary" (click)="closeDialog()">Cancel</button>
  <button class="btn btn-info" (click)="closeDialogAndUpdate()">Edit</button>
</mat-dialog-actions>

<mat-dialog-actions align="end" *ngIf="data.mode === 'DELETE'">
  <button class="btn btn-primary" (click)="closeDialog()">Cancel</button>
  <button class="btn btn-danger" (click)="closeDialogAndDelete()">Delete</button>
</mat-dialog-actions>

<mat-dialog-actions align="end" *ngIf="data.mode === 'ADD'">
  <button class="btn btn-primary" (click)="closeDialog()">Cancel</button>
  <button class="btn btn-success" (click)="closeDialogAndUpdate()">ADD</button>
</mat-dialog-actions>
