<p class="p-5"></p>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row" style="width:40%">
    <form [formGroup]="emailForm" (ngSubmit)="onResetSubmit()">
      <!-- Email input -->
      <div class="mb-4">
        <label for="form2Example1" class="form-label">{{'email'|translate}}</label>
        <input type="email" id="form2Example1" formControlName="email" class="form-control" required>
        <br>
        <div class="alert alert-danger"
             style="height: 50px; border-radius:20px; display: flex; align-items: center; justify-content: center;"
             *ngIf="emailForm.touched && !emailForm.valid">{{'email_reminder'|translate}}
        </div>
      </div>
      <div class="text-center">
        <!-- Submit button -->
        <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary rounded-pill"
                style="background-color: #005B47;">{{'password_reset'|translate}}
        </button>
      </div>
    </form>
  </div>
</div>
