<p class="p-5"></p>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row" style="width:40%">
    <form [formGroup]="emailForm" (ngSubmit)="onResetSubmit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"
               placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailForm.get('email')?.hasError('email') && !emailForm.get('email')?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="text-center">
        <!-- Submit button -->
        <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary rounded-pill"
                style="background-color: #005B47;">Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
