<div class="container" style="margin-top: 20px">
  <div class="title-img">
    <img src="../../../assets/images/delivery.png" alt="Delivery">
  </div>
  <div class="text-content">
    <h2 class="title">
      {{'order_summary'|translate}}
    </h2>
    <div class="plan-box" *ngFor="let item of cart.meals">
      <div class="plan-box-left">
        <img class="img-preview" src="{{item.meal.image}}">
        <div>
          <h5>{{item.meal.name}}</h5>
          <p>{{item.quantity}}x {{item.meal.price}} {{'currency'|translate}}</p>
        </div>
      </div>
      <div class="buttons">
        <button class="plus-minus-btn" (click)="decreaseQuantity(item)">-</button>
        <p class="number">{{item.quantity}}</p>
        <button class="plus-minus-btn" (click)="increaseQuantity(item)">+</button>
        <button class="plus-minus-btn" (click)="removeItem(item)"><i class="bi bi-x"></i></button>
      </div>
      <h4 class="calculated">{{(item.quantity * item.meal.price).toFixed(2)}} {{'currency'|translate}}</h4>
    </div>
    <hr style="width: 70%; margin: auto">
    <h4 class="sum">{{'sum'|translate}} {{sum.toFixed(2)}} {{'currency'|translate}}</h4>
    <div class="mt-4 plan-box" *ngIf="cart.table">
      <h4>
        {{'you_order_to_table'|translate}} {{ cart.table }}.
        {{'to_cancel_click'|translate}}
      </h4>
      <button class="btn btn-danger btn-lg py-2 px-3" (click)="removeTable()" style="white-space: nowrap; margin-left: 80px;">{{'cancel_table'|translate}}</button>
    </div>

    <div class="mt-4" *ngIf="!cart.table">
      <label class="delivery-label" id="radio-group-label">{{ 'takeaway_or_on-site' | translate }}</label>
      <div class="radio-group-container">
        <mat-radio-group [(ngModel)]="selectedDeliveryOption" aria-label="radio-group-label">
          <mat-radio-button class="mat-radio-button" color="primary" value="TAKEAWAY">{{ 'takeaway' | translate }}</mat-radio-button>
          <mat-radio-button class="mat-radio-button" color="primary" value="ONSITE">{{ 'on-site' | translate }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <button class="proceed-btn" (click)="proceed()" [ngClass]="{'disabled': cart.meals.length === 0}">{{'proceed'|translate}}</button>
    <a href="#" class="cancel-btn" routerLink="/menu">{{'cancel'|translate}}</a>
  </div>
</div>
