<p class="p-5"></p>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row" style="width:40%">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <!-- Email input -->
      <div class="mb-3">
        <label class="form-label" for="form2Example1">Email address</label>
        <input type="email" id="form2Example1" formControlName="email" class="form-control bg-white border" placeholder="name@example.com"/>
        <!-- Validation message for email input -->
        <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)" class="text-danger">
          <div *ngIf="loginForm.get('email').errors['required']">Email is required</div>
          <div *ngIf="loginForm.get('email').errors['email']">Email is invalid</div>
        </div>
      </div>

      <!-- Password input -->
      <div class="mb-4">
        <label class="form-label" for="form2Example2">Password</label>

        <input type="password" id="form2Example2" formControlName="password" class="form-control  bg-white border" />
        <!-- Validation message for password input -->
        <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)" class="text-danger">
          <div *ngIf="loginForm.get('password').errors['required']">Password is required</div>
        </div>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>
      <div *ngIf="error != ''" class="alert alert-danger" style="height: 50px; border-radius:20px; display: flex; align-items: center; justify-content: center;">{{error}}</div>
      <br>
      <div class="text-center">
      <!-- Submit button -->
      <button type="submit" [disabled]="!loginForm.valid"  class="btn btn-primary rounded-pill" style="background-color: #005B47; text-decoration: none; color: #FFFFFF">Sign in</button>
      <!-- Register buttons -->
      </div>
      <hr>
      <div class="text-center">
        <p>Not a member? <a routerLink="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>

