<div class="background" >
</div>
<br>
<div class="container">
  <div class="row justify-content-center text-center" data-aos="fade-right">
    <h2 style="color: #e36f62; font-family: COCOGOOSE; font-size: 2.2rem">Welcome To La Dolce Vita!</h2>
    <p class="p-3" style="font-size: 1.2rem">
      Experience authentic Italian cuisine with a modern twist at our restaurant.
      Indulge in homemade pasta, wood-fired pizza, and savory meat dishes prepared by our skilled chefs.
      Relax and enjoy the warm, welcoming atmosphere while sipping on a glass of fine Italian wine.
      Buon appetito!
  </div>
  <br>
  <div class="row" data-aos="fade-left">
    <h2 style="font-family: COCOGOOSE; font-size: 1.8rem">Where to find us</h2>
    <br>
    <iframe
      src="https://maps.google.com/maps?q=warsaw&z=13&ie=UTF8&iwloc=&output=embed"
      width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <p class="p-5"></p>
  <!--Grid column-->

</div>
<footer class="text-center text-white" style="background-color: #caced1;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: Mateusz K, Paweł K
  </div>
  <!-- Copyright -->
</footer>
