.background{
  background: url("src/assets/theme2.jpg");
  background-size: cover;
  height: 40rem;
  background-position: center;
  width: auto;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
