.form-field {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.row-style {
  width: 90%;
  max-width: 600px;
}

.settings-form {
  background-color: white;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: #3b71ca;
  text-decoration: underline;
}
.link-button:hover {
  color: #1759cb;
  text-decoration: underline;
}

.delete-button {
  background: none;
  border: none;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  color: #ea3232;
  text-decoration: underline;
}
.delete-button:hover {
  color: #a91010;
  text-decoration: underline;
}

.proceed-btn {
  text-decoration: none;
  color: white;
  background-color: #005B47;
  padding: 20px 0;
  border-radius: 12px;
  transition: background-color .3s ease;
  width: 80%;
  border: 0;
}

.proceed-btn:disabled {
  background-color: #003D37;
}
