<div>
  <mat-toolbar color="accent" style="padding-left: 0;">
    <div class="navbar-logo">
      <a routerLink="">
        <img src="assets/images/pizza.png" class="logo-img">
        <span class="logo">La dolce vita</span>
      </a>
    </div>

    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-lg class="navbar-container">
      <button class="nav-elem" color="accent" mat-flat-button routerLink="menu">{{'menu' | translate}}</button>

      <ng-container *ngIf="currentUser?.role === Role.USER">
        <button class="nav-elem" routerLink="reserve-table" color="accent"
                mat-flat-button>{{'reserve_table' | translate}}</button>
        <button class="nav-elem" routerLink="order-history" color="accent"
                mat-flat-button>{{'orders' | translate}}</button>
      </ng-container>

      <ng-container *ngIf="currentUser?.role === Role.ADMIN">
        <button class="nav-elem" routerLink="admin-tables-panel" color="accent"
                mat-flat-button>{{'table' | translate}}</button>
        <button class="nav-elem" routerLink="admin-menu" color="accent"
                mat-flat-button>{{'menu_editor' | translate}}</button>
        <button class="nav-elem" routerLink="admin-panel" color="accent"
                mat-flat-button>{{'orders' | translate}}</button>
      </ng-container>

      <button class="nav-elem" mat-button [matMenuTriggerFor]="menu">
        <span *ngIf="lang === 'pl'" class="fi fi-pl"></span>
        <span *ngIf="lang === 'en'" class="fi fi-gb"></span>
        {{ lang === 'pl' ? 'Polski' : 'English' }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLang('pl')"><span class="fi fi-pl"></span> Polski</button>
        <button mat-menu-item (click)="changeLang('en')"><span class="fi fi-gb"></span> English</button>
      </mat-menu>

      <ng-container *ngIf="currentUser === null">
        <button class="nav-elem" routerLink="register" color="accent"
                mat-flat-button>{{'register' | translate}}</button>
        <button matTooltip="{{'login' | translate}}" class="nav-elem" routerLink="login" mat-icon-button>
          <mat-icon>login</mat-icon>
        </button>
      </ng-container>

      <button matTooltip="{{'cart' | translate}}" class="nav-elem" *ngIf="currentUser?.role === Role.USER"
              routerLink="summary" mat-icon-button aria-label="Shopping Cart">
        <mat-icon [matBadge]="cartItemsCount" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>

      <button matTooltip="{{ 'profile' | translate }}" class="nav-elem" *ngIf="currentUser?.role === Role.USER"
              routerLink="account" mat-icon-button aria-label="Logout">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button matTooltip="{{ 'logout' | translate }}" class="nav-elem" *ngIf="currentUser?.role" (click)="onLogout()"
              mat-icon-button aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <button matTooltip="{{ 'menu' | translate}}" class="nav-elem" mat-icon-button fxHide.gt-md
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="mat-sidenav-container" id="sidenav-content" fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-md="true">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/menu']" (click)="sidenav.toggle()">{{'menu' | translate}}</a>

        <ng-container *ngIf="currentUser?.role === Role.USER">
          <a routerLink="/reserve-table" (click)="sidenav.toggle()" mat-list-item>{{'reserve_table' | translate}}</a>
          <a routerLink="/order-history" (click)="sidenav.toggle()" mat-list-item>{{'orders' | translate}}</a>
        </ng-container>

        <ng-container *ngIf="currentUser?.role === Role.ADMIN">
          <a routerLink="/admin-tables-panel" (click)="sidenav.toggle()" mat-list-item>{{'table' | translate}}</a>
          <a routerLink="/admin-menu" (click)="sidenav.toggle()" mat-list-item>{{'menu_editor' | translate}}</a>
          <a routerLink="/admin-panel" (click)="sidenav.toggle()" mat-list-item>{{'orders' | translate}}</a>
        </ng-container>

        <ng-container *ngIf="currentUser === null">
          <a routerLink="/register" (click)="sidenav.toggle()" mat-list-item>{{'register' | translate}}</a>
          <a routerLink="/login" (click)="sidenav.toggle()" mat-list-item>{{'login' | translate}}</a>
        </ng-container>

        <a mat-list-item [matMenuTriggerFor]="menu">
          <span *ngIf="lang === 'pl'" class="fi fi-pl"></span>
          <span *ngIf="lang === 'en'" class="fi fi-gb"></span>
          {{ lang === 'pl' ? 'Polski' : 'English' }}
        </a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item (click)="changeLang('pl')"><span class="fi fi-pl"></span> Polski</a>
          <a mat-menu-item (click)="changeLang('en')"><span class="fi fi-gb"></span> English</a>
        </mat-menu>

        <a *ngIf="currentUser?.role === Role.USER" (click)="sidenav.toggle()" routerLink="/summary" mat-list-item>
          {{ 'cart' | translate }}
        </a>

        <a *ngIf="currentUser?.role" (click)="onLogout(); sidenav.toggle()" mat-list-item>
          {{ 'logout' | translate }}
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill style="background-color: #f9f6ee;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


