body {
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
}

.container {
  margin: auto;
  max-width: 750px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 35%;
  padding: 40px;
}

.title {
  margin-top: 10px;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 20px;
}

.img-preview {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.td {
  vertical-align: middle;
}

.info {
  position: relative;
  width: 35%;
  background-color: #005B47;
  border-radius: 30px;
  margin: auto;
  padding: 20px;
  color: white;
}

.info h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  font-size: 14px;
}

@media only screen and (max-width: 1000px) {
  th:first-child {
    display: none;
  }
}

.container .steps {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #e0e0e0;
  transition: all 200ms ease;
  transition-delay: 0s;
  z-index: 1;
}

.steps .circle.active {
  transition-delay: 100ms;
  border-color: #005B47;
  color: #005B47;
  z-index: 1;
}

.steps .progress-bar {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e0e0e0;
  z-index: 0;
}

.progress-bar .indicator {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #005B47;
  transition: all 300ms ease;
}

