<div class="container" style="margin-top: 20px; min-width:400px" [hidden]="!isContentLoaded">
  <div class="text-content">
    <h2 class="title">
      {{'confirmation'|translate}}
    </h2>
    <h5>{{'order_confirmed'|translate}}</h5>
    <h6>{{'order_number'|translate}} {{orderNumber}}</h6>
    <br>
    <h4>{{'details'|translate}}:</h4>
    <table class="table">
      <thead>
      <tr>
<!--        <th scope="col">{{'meal'|translate}}</th>-->
        <th scope="col">{{'meal_name'|translate}}</th>
        <th scope="col">{{'quantity'|translate}}</th>
        <th scope="col">{{'price'|translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of order">
<!--        <th class="align-middle" scope="row">-->
<!--          <img class="img-preview" src="{{item.meal.image}}">-->
<!--        </th>-->
        <td class="align-middle">{{getMealName(item)}}</td>
        <td class="align-middle">{{item.quantity}}</td>
        <td class="align-middle" style="font-size: 12px">{{item.meal.price * item.quantity}}{{'currency'|translate}}</td>
      </tr>
      <tr>
<!--        <th></th>-->
        <td></td>
        <td>{{'sum'|translate}}</td>
        <td style="font-size: 12px"><strong>{{calculateOrder()}}{{'currency'|translate}}</strong></td>
      </tr>
      </tbody>
    </table>
    <h3>{{'delivery_status'|translate}}:</h3>
    <div class="steps">
      <span class="circle active" id="circle1">1</span>
      <span class="circle" id="circle2">2</span>
      <span class="circle" id="circle3">3</span>
      <div class="progress-bar">
        <span class="indicator" id="indicator"></span>
      </div>
    </div>
    <br>
    <div class="info pt-5">
      <h3 class="text-center">{{ getStatusTranslation(orderDetails.status) }}</h3>
    </div>
    <br>
    <h3 *ngIf="orderDetails.table">{{'order_on_table'|translate}} {{ orderDetails.table}}</h3>
    <h3 *ngIf="!orderDetails.table">{{'estimated_delivery_time'|translate}}:</h3>
    <div class="info">
      <h3 class="text-center">{{ orderDetails.date ? (orderDetails.date | date:"HH:mm") : 'processing'|translate }}</h3>
    </div>
  </div>
</div>
<div *ngIf="!isContentLoaded" style="display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;">
  <app-loading-spinner></app-loading-spinner>
</div>
