<div class="container" *ngIf="areCategoriesLoaded && areMealsLoaded">
  <div class="header row justify-content-center">
    <div class="col-auto">
      <br>
      <h1>{{'menu_editor'|translate}}</h1>
      <br>
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let category of categories" [disabled]="clickButton" (click)="clickButton=false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{getCategoryName(category)}}
            </mat-panel-title>
            <mat-panel-description>
              <button matTooltip="{{'edit'|translate}}" matTooltipPosition="above" class="btn btn-info"
                      style="margin:0 10px" (click)="openCategoryDialog(DialogMode.EDIT,category)">
                <i class="bi bi-pen"></i>
              </button>
              <button matTooltip="{{'delete'|translate}}" matTooltipPosition="above" class="btn btn-danger"
                      data-toggle="tooltip"
                      data-placement="top" (click)="openCategoryDialog(DialogMode.DELETE, category)">
                <i class="bi bi-trash"></i>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="table">
            <table mat-table [dataSource]="dataSources[category.name]" class="mat-elevation-z2">
              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>
                  {{'image'|translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                  <img class="img-fluid img-thumbnail" src="{{element.image}}">
                </td>
              </ng-container>
              <ng-container matColumnDef="name_menu">
                <th mat-header-cell *matHeaderCellDef>
                  {{'name_menu'|translate}}
                </th>
                <td mat-cell *matCellDef="let element"> {{getMealName(element)}} </td>
              </ng-container>
              <ng-container matColumnDef="menu_description">
                <th mat-header-cell *matHeaderCellDef>
                  {{'menu_description'|translate}}
                </th>
                <td mat-cell *matCellDef="let element"> {{getMealDescription(element)}} </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>
                  {{'price'|translate}}
                </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} {{'currency'|translate}} </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>
                  {{'edit'|translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                  <button matTooltip="{{'edit'|translate}}" matTooltipPosition="above" class="btn btn-info"
                          data-toggle="tooltip"
                          data-placement="top" (click)="openDialog(DialogMode.EDIT, category, element)">
                    <i class="bi bi-pen"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>
                  {{'delete'|translate}}
                </th>
                <td mat-cell *matCellDef="let element">
                  <button matTooltip="{{'delete'|translate}}" matTooltipPosition="above" class="btn btn-danger"
                          data-toggle="tooltip"
                          data-placement="top" (click)="openDialog(DialogMode.DELETE, category, element)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div class="last-row">
            <button matTooltip="{{'add'|translate}}" matTooltipPosition="above" class="btn btn-success"
                    data-toggle="tooltip"
                    data-placement="top" title="Add" (click)="openDialog(DialogMode.ADD, category)">
              <i class="bi bi-plus-square"></i>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="add-category">
        <button class="btn btn-success"
                (click)="openCategoryDialog(DialogMode.ADD)">{{'add_category'|translate}}</button>
      </div>
    </div>
  </div>
</div>
