<div class="container mt-4">
  <h1 class="text-center mb-3">{{'choose_table'|translate}}</h1>
  <div class="flex-container">
    <div class="flex-item" *ngFor="let table of tables">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{'one_table'|translate}} {{ table.number }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/table.jpg" alt="table">
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">{{'number_of_seats'|translate}}: {{ table.seats }}</mat-list-item>
            <mat-list-item class="text-center" role="listitem">
              {{ table.reserved ? ('RESERVED' | translate) : ' '}}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button class="proceed-btn" [disabled]="table.reserved" (click)="proceedOrder(table.number)">{{'order_to_table'|translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
