.meal-card {
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

mat-card-content {
  padding-left: 0;
}

mat-card-header {
  padding: 0 16px 0 0;
}

img {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px !important;
}

mat-card-title-group {
  flex-direction: column
}

.meals {
  overflow: auto;
  max-height: 78vh;
  margin: 0 20px;
}

mat-paginator {
  max-height: 50vh;
  margin-top: 10px;
}

.categories {
  padding:20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f9f6ee;
  max-height: 400px
}

.mat-drawer-side {
  border-right: none !important;
}

.mdc-list-item {
  padding-right: 60px !important;
}

.option-button {
  display: flex;
  align-items: center;
}

