<div class="container">
  <div class="row justify-content-around">
    <div class="col-lg-2 col-sm-3 col-6 categories">
      <h4 class="text-center">{{'category'|translate}}:</h4>
      <p *ngFor="let category of categories">
        <mat-checkbox [checked]="category === filteredCategory"  color="#005B47" (change)="onCategoryChange(category)">{{category.name}}</mat-checkbox>
      </p>
    </div>
    <div class="col-lg-7 col-sm-8 col-11">
      <div class="meals">
        <mat-card class="meal-card" *ngFor="let meal of meals">
          <mat-card-header>
            <img mat-card-lg-image [src]="meal.image">
          </mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{meal.name}}</mat-card-title>
            <mat-card-subtitle>{{meal.mealCategory.name}}</mat-card-subtitle>
            <mat-card-content>
              <p>{{meal.description}}</p>
              <p>{{meal.price}} {{'currency'|translate}}</p>
              <button type="button" class="btn btn-dark" *ngIf="isLoggedIn" (click)="addToCart(meal)">
                <i class="bi bi-cart me-1"></i>
                {{'to_cart'|translate}}
              </button>
            </mat-card-content>
          </mat-card-title-group>
        </mat-card>
      </div>
      <mat-paginator [length]="mealsNumber" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page"
                     (page)="onChangePage($event)"></mat-paginator>
    </div>
  </div>
</div>
