.menu-item {
  display: flex;
  background-color: #E3BC9A;
  height: 250px;
  border-radius: 20px;
  margin: 10px auto;
  padding: 0;
  width: 70%;
  color: black;
}

.menu-item-img {
  height: 100%;
  width: 40%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
  margin: 0 5% 0 0;
}

.menu-item-desc {
  width: 60%;
  padding: 20px;
}

#category-name{
  font-size: 1em;
  white-space: nowrap
}
.btn {
  margin: auto;
  font-size: 14px;
}

.page-item > .btn{
  color: white;
  background-color: #332d2d;
}
.page-active{
  font-weight: bold;

}


