.meal-card {
  max-width: 70%;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px
}

mat-card-content {
  padding-left: 0;
}

mat-card-header {
  padding: 0 16px 0 0;
}

img {
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 10px;
}

mat-card-title-group {
  flex-direction: column
}

.meals {
  overflow: auto;
  max-height: 70vh;
}

mat-paginator {
  max-width: 70%;
  margin-top: 10px;
}

.categories {
  padding:20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #e0e0e0;
  max-height: 300px
}
