<div class="container" style="margin-top: 20px">
  <div class="text-content">
    <h2 class="title">
      Confirmation
    </h2>
    <h5>Your order has been confirmed.</h5>
    <h6>Order number: {{orderNumber}}</h6>
    <br>
    <h4>Details:</h4>
     <table class="table">
    <thead>
    <tr>
      <th scope="col"> Meal</th>
      <th scope="col">Meal Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of order">
      <th class="align-middle" scope="row">
        <img class="img-preview" src="{{item.meal.imgPath}}">
      </th>
      <td class="align-middle">{{item.meal.name}}</td>
      <td class="align-middle">{{item.quantity}}</td>
      <td class="align-middle">{{item.meal.price * item.quantity}} $</td>
    </tr>
    </tbody>
  </table>
    <h3>Delivery status:</h3>
    <div class="info">
      <h3 class="text-center">{{orderStatus}}</h3>
    </div>
    <br>
    <h3>Estimated delivery time:</h3>
    <div class="info">
      <h3 class="text-center">21:20</h3>
    </div>
  </div>
</div>

