<p class="p-5"></p>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row text-center" style="width:40%">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetSubmit()">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" formControlName="email" class="form-control bg-white border" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
        </div>


      <!-- Submit button -->
      <button type="submit" [disabled]="!resetPasswordForm.valid"  class="btn rounded-pill" style="background-color: #005B47; text-decoration: none; color: #FFFFFF">Reset Password</button>
      </div>

    </form>
  </div>
</div>
