<p class="p-5"></p>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row w-50">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <!-- First name input -->
      <div class="mb-4">
        <label class="form-label" for="name">Name<span class="text-danger">*</span></label>
        <input type="text" id="name" formControlName="firstName" class="form-control bg-white border" />
        <div *ngIf="registerForm.get('firstName').invalid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)" class="text-danger">
          <div *ngIf="registerForm.get('firstName').errors['required']">
            Name is required.
          </div>
        </div>
      </div>
      <!-- Surname input -->
      <div class="mb-4">
        <label class="form-label" for="surname">Surname<span class="text-danger">*</span></label>
        <input type="text" id="surname" formControlName="lastName" class="form-control bg-white border" />
        <div *ngIf="registerForm.get('lastName').invalid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)" class="text-danger">
          <div *ngIf="registerForm.get('lastName').errors['required']">
            Surname is required.
          </div>
        </div>
      </div>
      <!-- Email input -->
      <div class="mb-4">
        <label class="form-label" for="email">Email address<span class="text-danger">*</span></label>
        <input type="email" id="email" formControlName="email" class="form-control bg-white border" />
        <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)" class="text-danger">
          <div *ngIf="registerForm.get('email').errors['required']">
            Email is required.
          </div>
          <div *ngIf="registerForm.get('email').errors['email']">
            Please enter a valid email address.
          </div>
        </div>
      </div>

      <!-- Password input -->
      <div class="mb-4">
        <label class="form-label" for="password">Password<span class="text-danger">*</span></label>
        <input type="password" id="password" formControlName="password" class="form-control bg-white border" />
        <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)" class="text-danger">
          <div *ngIf="registerForm.get('password').errors['required']">
            Password is required.
          </div>
        </div>
      </div>
      <div *ngIf="error != ''" class="alert alert-danger" style="height: 50px; border-radius:20px; display: flex; align-items: center; justify-content: center;">{{error}}</div>
      <br>
      <div class="text-center">
      <!-- Submit button -->
      <button type="submit" [disabled]="!registerForm.valid"  class="btn btn-primary rounded-pill" style="background-color: #005B47; text-decoration: none; color: #FFFFFF">Register</button>
      </div>
    </form>

  </div>
</div>
