<h2 class="mb-2"> {{ 'reserve_table' | translate }}</h2>
<p class="mb-0">{{ 'table_number' | translate }}: {{data.table.number}}</p>
<p class="mt-0 mb-0">{{ 'table_nr_seats' | translate }}: {{data.table.seats}}</p>

<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>{{ 'choose_a_date' | translate }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      (dateChange)="onChangeDate($event)"
      [matDatepickerFilter]="disablePastDates"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>{{ 'choose_an_option' | translate }}</mat-label>
    <mat-select [disabled]="!dateFetched" (selectionChange)="onSelectTime($event)">
      <mat-option *ngFor="let hour of this.availableHours" value="{{hour}}">{{hour}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-danger" (click)="closeDialog()">{{ 'cancel' | translate }}</button>
  <button class="btn btn-success" [disabled]="!this.selectedDate || !this.selectedTime" (click)="onSubmit()">{{ 'reserve' | translate }}</button>
</mat-dialog-actions>
