<h2 mat-dialog-title>{{ 'reserve_table' | translate }}</h2>
<h4>{{ 'table_number' | translate }}: {{data.table.number}}</h4>
<h4>{{ 'table_nr_seats' | translate }}: {{data.table.seats}}</h4>

<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>{{ 'choose_a_date' | translate }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      (dateChange)="onChangeDate($event)"
      [matDatepickerFilter]="disablePastDates"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="dateFetched">
    <mat-label>{{ 'choose_an_option' | translate }}</mat-label>
    <mat-select (selectionChange)="onSelectTime($event)">
      <mat-option *ngFor="let hour of this.availableHours" value="{{hour}}">{{hour}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-danger" (click)="onCloseDialog()">{{ 'cancel' | translate }}</button>
  <button class="btn btn-success" (click)="onCloseDialog()">{{ 'reserve' | translate }}</button>
</mat-dialog-actions>
