.btn-img {
  width: 30px;
  height: auto;
  padding: 0.6rem 0;
  margin-right: 15px;
}

.form-field {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.forgot-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row-style {
  width: 90%;
  max-width: 600px;
}
