<p class="p-5"></p>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row" style="width:40%">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <!-- Email input -->
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"
               placeholder="Ex. pat@example.com">
        <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password cannot be empty
        </mat-error>
      </mat-form-field>

      <div class="form-group">
        <p class="content-divider center mt-3 text-center">
          <span>or</span>
        </p>
        <p class="social-login text-center">
          Sign in with:
          <br>
          <a href="{{ googleURL }}" class="ml-2">
            <img alt="Login with Google" src="assets/images/google.png" class="btn-img">
          </a>
          <a href="{{ facebookURL }}">
            <img alt="Login with Facebook" src="assets/images/facebook.png" class="btn-img">
          </a>
        </p>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
        </div>

        <div class="col">
          <!-- Simple link -->
          <a routerLink="/reset">Forgot password?</a>
        </div>
      </div>
      <div *ngIf="error != ''" class="alert alert-danger"
           style="border-radius:20px; text-align: center;">{{error}}</div>

      <br>
      <div class="text-center">
        <!-- Submit button -->
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary rounded-pill"
                style="background-color: #005B47; text-decoration: none; color: #FFFFFF">Sign in
        </button>
        <!-- Register buttons -->
      </div>
      <hr>
      <div class="text-center">
        <p>Not a member? <a routerLink="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>

