<h2 mat-dialog-title>{{data.mode}} Table</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="tableForm" *ngIf="data.mode !== DialogMode.DELETE">
    <label class="form-label" for="name">Number</label>
    <input class="form-control" id="name" type="number" formControlName="number">
    <label class="form-label" for="description">Number of seats</label>
    <input class="form-control" id="description" type="text" formControlName="seats">
  </form>

  <div class="d-flex justify-content-center align-items-center" *ngIf="data.mode === DialogMode.DELETE">
    <h5>Are you sure you want to delete a table with number: {{data.table?.number}}</h5>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-primary"
          (click)="closeDialog()">
    Cancel
  </button>
  <button class="btn btn-info"
          *ngIf="data.mode === DialogMode.EDIT"
          (click)="closeDialogAndUpdate()">Edit
  </button>
  <button class="btn btn-danger"
          *ngIf="data.mode === DialogMode.DELETE"
          (click)="closeDialogAndDelete()">Delete
  </button>
  <button class="btn btn-success"
          *ngIf="data.mode === DialogMode.ADD"
          (click)="closeDialogAndUpdate()">ADD
  </button>
</mat-dialog-actions>
