<h2 mat-dialog-title>{{data.mode}} Meal</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="tableForm" *ngIf="data.mode !== DialogMode.DELETE">
    <label class="form-label" for="name">Number</label>
    <input class="form-control" id="name" type="number" formControlName="number">
    <label class="form-label" for="description">Number of seats</label>
    <input class="form-control" id="description" type="text" formControlName="seats">
    <label class="form-label" for="price">Status</label>
    <input class="form-control" id="price" type="text" formControlName="status">
  </form>
  <div class="d-flex justify-content-center align-items-center" *ngIf="data.mode === DialogMode.DELETE">
    <h5>Are you sure you want to delete a meal with name: {{data.table?.number}}</h5>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.mode === DialogMode.EDIT">
  <button class="btn btn-primary" (click)="closeDialog()">Cancel</button>
  <button class="btn btn-info" (click)="closeDialogAndEdit()">Edit</button>
</mat-dialog-actions>

<mat-dialog-actions align="end" *ngIf="data.mode === DialogMode.DELETE">
  <button class="btn btn-primary" (click)="closeDialog()">Cancel</button>
  <button class="btn btn-danger" (click)="closeDialogAndDelete()">Delete</button>
</mat-dialog-actions>

<mat-dialog-actions align="end" *ngIf="data.mode === DialogMode.ADD">
  <button class="btn btn-primary" (click)="closeDialog()">Cancel</button>
  <button class="btn btn-success">ADD</button>
</mat-dialog-actions>
