.background {
  background-size: cover;
  height: 40rem;
  background: url("src/assets/images/other/theme2.jpg") center;
  width: auto;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
