.btn-primary{
  margin-right: 10px;
}

.form-element {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}

:host {
  display: block;
  /*width: max(330px, 50vw);*/
  background: #fff;
  border-radius: 8px;
  padding: 16px;
}
