.form-field {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}

.row-style {
  width: 90%;
  max-width: 600px;
  margin-bottom: 32px;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px;
}
