<div class="container d-flex align-items-center justify-content-center">
  <div class="row row-style">
    <h1>{{'new_password' | translate}}</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>{{'current_password'|translate}}</mat-label>
        <input type="password" matInput formControlName="currentPassword">
        <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">
          {{'password_toast'|translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>{{'new_password'|translate}}</mat-label>
        <input type="password" matInput formControlName="newPassword">
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
          {{'password_toast'|translate}}
        </mat-error>
      </mat-form-field>
      <div class="text-center">
        <button type="submit" [disabled]="passwordForm.invalid"
                class="btn btn-primary rounded-pill"
                style="background-color: #005B47;">{{'confirm'|translate}}
        </button>
      </div>
    </form>
  </div>
</div>
