<div class="container">
  <div class="row justify-content-center" style="margin:20px">
    <div class="col-auto">
      <br>
      <h1>{{'table_editor'|translate}}</h1>
      <br>
      <div class="tables-container table table-image table-responsive">
        <thead>
        <tr>
          <th scope="col">{{'table_number'|translate}}</th>
          <th scope="col">{{'table_nr_seats'|translate}}</th>
          <th scope="col">{{'table_status'|translate}}</th>
          <th scope="col">{{'table_qr_code'|translate}}</th>
          <th scope="col">{{'table_download'|translate}}</th>
          <th scope="col">{{'edit'|translate}}</th>
          <th scope="col">{{'delete'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let table of tables">
          <td>{{table.number}}</td>
          <td>{{table.seats}}</td>
          <td class="w-25">
            <qrcode
              [qrdata]="generateQrUrl(table.number)"
              [allowEmptyString]="true"
              [alt]="'QR code'"
              [ariaLabel]="'QR Code image with the following content...'"
              [cssClass]="'qr-code'"
              [colorDark]="'#000000ff'"
              [colorLight]="'#ffffffff'"
              [elementType]="'img'"
              [errorCorrectionLevel]="'M'"
              [margin]="4"
              [scale]="1"
              [width]="75"
            ></qrcode>
            <!-- To download -->
            <qrcode
              [hidden]="true"
              #qrcode
              [qrdata]="generateQrUrl(table.number)"
              [allowEmptyString]="true"
              [alt]="'QR code'"
              [ariaLabel]="'QR Code image with the following content...'"
              [cssClass]="'qr-code'"
              [colorDark]="'#000000ff'"
              [colorLight]="'#ffffffff'"
              [elementType]="'img'"
              [errorCorrectionLevel]="'M'"
              [margin]="4"
              [scale]="1"
              [width]="500"
            ></qrcode>
            <!--   -----   -->
          </td>
          <td>
            <button class="btn btn-success" data-toggle="tooltip" matTooltip="{{'download'|translate}}" matTooltipPosition="above"
                    data-placement="top" (click)="downloadQrCode(qrcode)">
              <i class="bi bi-download"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-info" data-toggle="tooltip" matTooltip="{{'edit'|translate}}" matTooltipPosition="above"
                    data-placement="top" (click)="openTableDialog(DialogMode.EDIT, table)">
              <i class="bi bi-pen"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-danger" data-toggle="tooltip" matTooltip="{{'delete'|translate}}" matTooltipPosition="above"
                    data-placement="top" (click)="openTableDialog(DialogMode.DELETE, table)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <div style="margin-top: 10px">
          <button class="btn btn-success" (click)="openTableDialog(DialogMode.ADD)">{{'table_add'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
