<br>
<div class="container" *ngIf="isContentLoaded && orders.length > 0">
  <table class="table table-bordered bg-white" *ngFor="let order of orders; let i = index">
    <thead>
    <tr>
      <th style="width:70px; font-size: 9px;" scope="col">ID: {{order.id}}</th>
      <th scope="col">{{'meal'|translate}}</th>
      <th scope="col">{{'quantity'|translate}}</th>
      <th scope="col">{{'price'|translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let meal of order.mealOrders">
      <th></th>
      <td>{{getMealName(meal.meal)}}</td>
      <td>{{meal.quantity}}</td>
      <td>{{meal.meal.price}} {{'currency'|translate}}</td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form" [formGroup]="forms[i]" (ngSubmit)="updateOrder(order.id, i)">
          <table class="table table-active">
            <thead>
            <tr>
              <th scope="col">{{'order_status'|translate}}</th>
              <th scope="col">{{'estimate_delivery'|translate}}</th>
              <th scope="col" *ngIf="order.delivery">{{'address'|translate}}</th>
              <th scope="col" *ngIf="order.table">{{'table_nr'|translate}}</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <select class="form-select" formControlName="orderStatus">
                  <option value="IN_PREPARATION">{{'in_preparation'|translate}}</option>
                  <option value="IN_DELIVERY">{{'in_delivery'|translate}}</option>
                  <option value="DELIVERED">{{'delivered'|translate}}</option>
                </select>
              </td>
              <td>
                <input [ngxTimepicker]="picker" [format]="24" class="form-control"
                       formControlName="deliveryDate"
                       name="deliveryDate"/>
                <ngx-material-timepicker #picker></ngx-material-timepicker>
              </td>
              <td
                *ngIf="order.delivery">{{order.delivery.address}} {{order.delivery.city}} {{getDeliveryOptionsTranslation(order.delivery.deliveryOptions)}} {{order.delivery.postalCode}} {{order.delivery.info}}</td>
              <td *ngIf="order.table">{{order.table.number}}</td>
              <td>
                <button class="btn btn-primary" type="submit">{{'change'|translate}}</button>
              </td>
              <td>
                <button class="btn btn-danger" type="button"
                        (click)="deleteOrder(order.id)">{{'delete'|translate}}</button>
              </td>

            </tr>
            </tbody>
          </table>
        </form>
      </td>
    </tr>
    <tr class="text-center">
      <td></td>
      <td></td>
      <td></td>
      <td><strong>{{'sum'|translate}}{{calculateSum(order).toFixed(2)}} {{'currency'|translate}}</strong></td>

    </tr>
    </tbody>
  </table>
</div>
<div class="container" *ngIf="orders.length === 0 && isContentLoaded">
  <div class="alert-primary center-alert">{{'no_order'|translate}}</div>
</div>
